# Ignore virtual environment folder
venv/

# Ignore root environment variables
.env

# Ignore backend environment variables
/backend/.env
/backend/models/
# Ignore mail service environment variables and local dependencies
/mail-service/.env
/mail-service/node_modules/

# Ignore backend config (contains sensitive keys)
backend/config.py
