# Ignore virtual environment folder
venv/

# Ignore root environment variables
.env

# Ignore backend environment variables
/backend/.env

# Ignore backend config (contains sensitive keys)
backend/config.py
