# Ignore virtual environment folder
/venv
venv

# Ignore root environment variables
.env

# Ignore backend environment variables
/backend/.env

# Ignore specific backend configuration file
/backend/config.py
venv/Lib/site-packages/docx.py
